<div>
    <h3>USER DETAILS</h3>
</div>

<form [formGroup]="userDetails" (ngSubmit)="saveData()">
    <label for="name">NAME</label> <input type="text" formControlName="name" class="form-control"> <br> <br>
    <label for="gender">GENDER</label><select formControlName="gender" class="form-control">
        <option>MALE</option>
        <option>FEMALE</option>
        <option>OTHER</option>
    </select> <br> <br>
    <label for="dob">DOB</label> <input type="date" max="2005-01-01" min="1925-01-01"><br> <br>
    <label for="mobileNumber">MOBILE NUMBER</label> <input type="tel" formControlName="mobileNumber" class="form-control"> <br> <br>
    <label for="eMail">E_MAIL</label> <input type="email" formControlName="eMail" class="form-control"> <br> <br>
    <button type="button">SUBMIT</button>
</form>

<hr>
<div>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>NAME</th>
                <th>GENDER</th>
                <th>DOB</th>
                <th>MOBILE NUMBER</th>
                <th>E_MAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf=" ">
                    <td><span>  </span></td>
                    <td><span>  </span></td>
                    <td><span>  </span></td>
                    <td><span>  </span></td>
                    <td><button type="button">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>